{% extends 'base.html' %}

{% block title %} Home
{% endblock title %}

{% block body %}
<div class="container-fluid  px-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1300x500/?tesla,model2" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1300x500/?nature" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1300x500/?sun" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

  <div class="container my-4 px-4">
    <h1 class="my-4 text-center "> VISION 24X7 </h1>
     <h3 class="text-center"> Welcome to my website</h3> 

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img5.jpg" class="d-block w-50 h-50 " alt="...">

          <div class="card-body">
            <p class="card-text text-center">Godrej Security Solutions Seethru HD IR CCTV Camera (2MP, GODREJ2MP1DOME)
              M.R.P.: ₹ 11,999.00
              Price: ₹ 1,030.00 Fulfilled FREE Delivery. Details
              You Save: ₹ 10,969.00 (91%)Inclusive of all taxes</p>
            <div class="d-flex justify-content-between align-items-center">
              {% comment %} <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img6.jpg" class="d-block  w-50 h-50" alt="...">
          <div class="card-body">
            <p class="card-text">Mi 360° 1080p Full HD WiFi Smart Security Camera| 360° Viewing Area |Intruder Alert |
              Night Vision | Two-Way Audio |Inverted Installation.
              Price: ₹ 2,899.00 Fulfilled FREE Delivery.</p>
            <div class="d-flex justify-content-between align-items-center">
              {% comment %} <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img7.jpg" class="d-block  w-50 h-50" alt="...">
          <div class="card-body">
            <p class="card-text">Hikvision 2MP 1080P HD Indoor Night Vision Dome Camera (White)
              Brand: HIKVISION.
              M.R.P.: ₹ 2,999.00
              Price: ₹ 1,200.00 FREE Delivery. Details
              You Save: ₹ 1,799.00 (60%)
              Inclusive of all taxes</p>
            <div class="d-flex justify-content-between align-items-center">
              {% comment %} <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small> {% endcomment %}
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img8.jpg" class="d-block w-50 h-50" alt="...">
          <div class="card-body">
            <p class="card-text">SUKHAD Realistic Look Dummy Security CCTV Bullet Camera with LED Light Indication ,
              Silver.
              M.R.P.: ₹ 899.00
              Price: ₹ 325.00 Fulfilled FREE Delivery on orders over ₹ 499.00 . Details
              You Save: ₹ 574.00 (64%)
              Inclusive of all taxes</p>
            {% comment %} <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img.9.jpg" class="d-block  w-50 h-50" alt="...">
          <div class="card-body">
            <p class="card-text">By Quantum QHM495LM PC Camera with 6 Lights (Black) Brand: By Quantum.
              M.R.P.: ₹ 1,599.00
              Price: ₹ 849.00 FREE Delivery. Details
              You Save: ₹ 750.00 (47%)
              Inclusive of all taxes
            </p>
            {% comment %} <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img11.jpg" class="d-block  w-50 h-50" alt="...">
          <div class="card-body">
            <p class="card-text">V380 WiFi Smart Camera 1080p Hd Quality with Night Vision Quality and 2 Way Audio and
              Upto 64 GB SD Card Support by Error King
              Brand: v380.
              M.R.P.: ₹ 2,999.00
              Price: ₹ 1,199.00 + ₹ 50.00 Delivery charge Details
              You Save: ₹ 1,800.00 (60%)
              Inclusive of all taxes/p>
              {% comment %}
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div> {% endcomment %}
          </div>
        </div>
      </div>



      {% endblock body %}